.box{
	width: 80%;
	height: 600px;
	display: inline-block;
	margin: 50px 10%;
	box-shadow: 0 27px 87px rgba(0,0,0,0.37);
	border-radius: 15px;
}
.box-img{
	float: left;
	width: 45%;
}
.box-text{
	width: 55%;
	float: left;
	padding-left: 35px;
}